@model List<Slider>

@{
    ViewData["Title"] = "Index";
}

<div class="table-responsive pt-3">
    <a asp-controller="Slider" asp-action="Create"  class="btn btn-success">Create slider</a>
                    <table class="table table-dark">
                      <thead>
                        <tr>
                          <th>
                            Image
                          </th>

                          <th>
                              Title
                          </th>

                          <th>
                              Subtitle
                          </th>

                          <th>
                              Discount
                          </th>

                          <th>
                              settings
                          </th>

                        </tr>
                      </thead>
                      <tbody>
       
                        @foreach (Slider slider in Model)
                         {
                           <tr>
                               <td>
                                   <img style="width:90px; height:100px;" src="~/assets/images/website-images/@slider.Image" />
                               </td>

                               <td>
                                   @slider.Title
                               </td>

                               <td>
                        @if (slider.Subtitle.Length >= 30)
                        {
                            @(@slider.Subtitle.Substring(0, 30).ToString()+"...");
                        }
                        else{
                            @slider.Subtitle
                        }
                    </td>

                               <td>
                                   @slider.Discount
                               </td>

                               <td>

                                   <div class="d-flex">
                                       <div class="detail">
                                           <a asp-controller="Slider" asp-action="Detail" asp-route-Id="@slider.Id" class="btn btn-primary">
                                          <i class="mdi mdi-details"></i>
                                           </a>
                                       </div>
                                        <div class="update">
                                            <a asp-controller="Slider" asp-action="Edit" asp-route-Id="@slider.Id" class="btn btn-warning">
                                          <i class="mdi mdi-arrow-up-bold-circle"></i>
                                            </a>
                                       </div>
                                        <div class="delate">
                                            <a asp-controller="Slider" asp-action="Delete" asp-route-Id="@slider.Id" class="btn btn-danger">
                                          <i class="mdi mdi-delete-forever"></i>
                                            </a>
                                       </div>
                                   </div>
                               </td>

                           </tr>
                         }
                      </tbody>
                    </table>
                  </div>


